<!-- ***** Hero Area Start ***** -->
<div class="fancy-hero-area bg-gray">
    <video autoplay muted loop style="width: 100vw;">
        <source src="/img/bg-img/farm.mp4" type="video/mp4">
    </video>
</div>
<!-- ***** Hero Area End ***** -->

<!-- ***** Top Feature Area Start ***** -->
<div class="fancy-top-features-area bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="fancy-top-features-content">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reliability</h5>
                                <p>Using state of the art technology in the supply chain to increase transparency of the system.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Expertise</h5>
                                <p>Expert from every field , working togather to deliver the best at your door steps and putting smile on your face.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-diamond" aria-hidden="true"></i> Quality</h5>
                                <p>Each produce goes through rigorous quality control checks , ensuring the best quality.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Top Feature Area End ***** -->

<!-- ***** About Us Area Start ***** -->
<section class="fancy-about-us-area bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="about-us-text">
                    <h2>Uttarakhand : Simply Heaven</h2>
                    <p style="text-align: justify;">Uttarakhand is primarily an agricultural state. The contribution of agriculture to the states domestic product is about <b>22.4 percent</b> and the population dependent on agriculture for their livelihood is about 75 -85 percent. For instance, As per Uttarakhand state planning Commission, 2007, the productivity of <b>wheat</b> in the hills is <b>13.2 quintals/hectare</b> and <b>rice</b> is <b>12.36 quintals/hectare</b>.
                    Thus, agricultural opportunities are developing rapidly in the state. Especially, in sector of organic agriculture, Uttarakhand Is highly accessible because of largely rain-fed agriculture and very low use of chemical fertilizers and pesticides, the produce grown by farmer in the area are not only rich in nutrients but also have high medicinal value and provides an opportunity to develop and farmer friendly environment of organic farming that provide better value in the market to Small and Marginal Land holder. </p>
                    <!-- <p>The various project of Department of rural development and agriculture are continuously in the process of enhancing farmer and self-help groups (SHGs) livelihoods by adding value in their produce and providing favourable markets. Provide technology-based interventions like Techniques of Value addition to agriculture produce, Packaging, Logistic movement, Farmer Branding and marketing avenues. This platform should enable direct movement of farmer to the consumer and reduce the intermediates who take away a lion's share of commission."</p>
                    <a href="#" class="btn fancy-btn fancy-dark">Read More</a> -->
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-5 ml-xl-auto">
                <div class="about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                    <img src="/img/bg-img/about-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Us Area End ***** -->

<!-- ***** Skills Area Start ***** -->
<section class="fancy-skills-area section-padding-200">
    <!-- Side Thumb -->
    <div class="skills-side-thumb">
        <img src="/img/bg-img/skills.jpg" alt="">
    </div>
    <!-- Skills Content -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-5 ml-auto">
                <div class="section-heading">
                    <h2>Initiatives</h2>
                    <p>The various project of Department of rural development and agriculture are continuously in the process of enhancing farmer and self-help groups (SHGs) livelihoods by adding value in their produce and providing favourable markets. Provide technology-based interventions like Techniques of Value addition to agriculture produce, Packaging, Logistic movement, Farmer Branding and marketing avenues. This platform should enable direct movement of farmer to the consumer and reduce the intermediates who take away a lion's share of commission."
                    </p>
                </div>
                <div class="skills-content">
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar wow fadeInUp" data-wow-delay="0.5s">
                        <h6>People engaged in agricultural activities</h6>
                        <div id="bar1" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="80"></span>
                        </div>
                    </div>
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar wow fadeInUp" data-wow-delay="1s">
                        <h6>Economic contribution</h6><br>
                        <div id="bar2" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="22"></span>
                        </div>
                        
                    </div>
                    <!-- Single Progress Bar -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Skills Area End ***** -->

<!-- ***** Service Area Start ***** -->
<section class="fancy-services-area bg-img bg-overlay section-padding-100-70"
    style="background-image: url(/img/bg-img/hero-2.jpg);background-attachment: fixed;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-white text-center">
                    <h2>Our Solution</h2>
                    <p>We provide solution to the problem using the following</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="0.5s">
                    <i class="fa fa-html5" aria-hidden="true"></i>
                    <h5>Website Development</h5>
                    <p style="text-align: justify;">A website that can act as a bridge between buyers and sellers and through which they can directly interact with each other and negotiate on the prices. Vernacular language support for Hindi, Garhwali and Kumaoni apart from English</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1s">
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <h5>Android App</h5>
                    <p style="text-align: justify;">An android app for farmers through which they will be directly able to sell their produce at better prices than offered by the Middlemen. We have also catered to farmers do not own a mobile phone. For them, they will be directly adding their details just by sending a message to a particular number. </p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1.5s">
                    <i class="fa fa-link" aria-hidden="true"></i>
                    <h5>Blockchain Technology </h5>
                    <p style="text-align: justify;">Using blockchain in the supply chain to increase the transparency of the system which reduces the cost by eliminating the middlemen and increases overall trust.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->

<!-- ***** Testimonials Area Start ***** -->
<section class="fancy-testimonials-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonials-slides owl-carousel">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial d-md-flex align-items-center">
                        <!-- Testimonial Thumb -->
                        <div class="testimonial-thumbnail">
                            <img src="/img/clients-img/1.jpg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="testimonilas-content">
                            <h5>We will be giving ratings to farmers on the basis of their sold items. This will be synced with our portal where potential buyers will be seeing the best-rated farmers of a particular crop and select the best ones. This will be a win-win situation for both farmers and buyers as well as farmer’s income will increase and customers will be procuring goods at a lower rate. </h5>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial d-md-flex align-items-center">
                        <!-- Testimonial Thumb -->
                        <div class="testimonial-thumbnail">
                            <img src="/img/clients-img/2.jpg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="testimonilas-content">

                            <h5>We also plan to propose a solution for SHG’s i.e. SHG can register on the website and can be monitored by Govt. agencies.<br>
                                We would like to reduce exploitation by estimating price using an AI process which uses unbiased process.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Testimonials Area End ***** -->

<!-- ***** CTA Area Start ***** -->
<section class="fancy-cta-area bg-img bg-overlay section-padding-100"
    style="background-image: url(/img/main-hero-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content text-center">
                    <h2>Excited to discuss our Solution?</h2>
                    <p>Here is the link to our ecommerce website (Consumer's Portal)</p>
                    <a href="/ecommerce" class="btn fancy-btn">Shop with us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<section class="fancy-blog-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Salient Features</h2>
                    <p>We have developed solution with following features</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                    <img src="/img/blog-img/blog-1.png" alt="">
                    <div class="blog-content">
                        <h5><a href="#">24*7 support system</a></h5>
                        <p>Our technical experts are always there to assist to anytime you need help.</p>
                        <!-- <a href="static-page.html">Learn More</a> -->
                    </div>
                </div>
            </div>
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="1s">
                    <img src="/img/blog-img/blog-2.png" alt="">
                    <div class="blog-content">
                        <h5><a href="static-page.html">Shop Online and Pay Offline</a></h5>
                        <p>We provide cash or card on delievery services. Online payment facility is also available.</p>
                        <!-- <a href="static-page.html">Learn More</a> -->
                    </div>
                </div>
            </div>
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="1.5s">
                    <img src="/img/blog-img/blog-3.png" alt="">
                    <div class="blog-content">
                        <h5><a href="static-page.html">Profit for all</a></h5>
                        <p>Transparency in supply chain ensures maximum benifit to both
                            consumer and producer.
                        </p>
                        <!-- <a href="static-page.html">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog Area End ***** -->