<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Register</h2>
                    <form action="/users/create-user" method="POST">
                        <div class="group-input">
                            <label for="email">Email*</label>
                            <input type="text" required id="email" name="email">
                        </div>
                        <div class="group-input">
                            <label for="phone">Phone*</label>
                            <input type="text" required id="phone" name="phone">
                        </div>
                        <div class="group-input">
                            <label for="firstName">First Name *</label>
                            <input type="text" required id="firstName" name="firstName">
                        </div>
                        <div class="group-input">
                            <label for="lastName">Last Name *</label>
                            <input type="text" id="lastName" name="lastName">
                        </div>
                        <div class="group-input">
                            <label for="address">Address * </label>
                            <input type="text" name="address" id="address">
                        </div>
                        <div class="group-input">
                            <label for="pass">Password *</label>
                            <input required type="password" id="pass" name="password">
                        </div>
                        <div class="group-input">
                            <label for="con-pass">Confirm Password *</label>
                            <input required type="password" id="con-pass" name="confirm_password">
                        </div>
                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    </form>
                    <div class="switch-login">
                        <a href="/users/login" class="or-login">Or Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->