<!-- Faq Section Begin -->
<div class="faq-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="faq-accordin">
          <h2> Your payment has been successfull </h2>
          <h3> Mail has been sent with your payment reciept to your registered Email address.</h3><br>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-heading active">
                <a  class="active" data-toggle="collapse" data-target="#collapseOne">
                  Session ID
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                  <p><%= sessionId %></p>
                  <!-- <button type="submit" class="primary-btn pd-cart" style="width:100%;"
                    onclick="copyToClipBoard()">Copy to Clipboard</button> -->
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-heading">
                <a data-toggle="collapse" data-target="#collapseTwo">
                  Payment Receipt
                </a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                  <iframe src="/receipts/output.pdf" title="Payment Receipt" height="600px" width="500px"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Faq Section End -->
<script>
  function copyToClipBoard() {
    var copyText = document.getElementById("transId");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    //copyText.setCustomValidity("Text copied");
    alert("Copied " + copyText.value + " to clipboard");
  }
</script>