<body class="bg-light">
    <div id="particles-js"></div>
    <div>
        <a href="/"
            style="color:black;position: absolute;top:40px;left:40px;font-size:3rem;position:absolute;z-index: 9999;"><i
                class="fas fa-arrow-circle-left"></i></a>
    </div>
    <div class="hero-image">
    </div>
    <div class="holder">
        <div class="card">
            <div class="imgBx">
                <img src="/img/pranav.jpeg" alt="images">
            </div>
            <div class="details">
                <h2>Pranav Sharma<br><span><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"><i class="far fa-envelope"></i> </a></span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/chirag.jpeg" alt="images">
            </div>
            <div class="details">
                <h2> Chirag Singla<br><span><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"><i class="far fa-envelope"></i> </a></span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/shivam.jpeg" alt="images">
            </div>
            <div class="details">
                <h2> Shivam Kumar<br><span><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"><i class="far fa-envelope"></i> </a></span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/kshitij.jpeg" alt="images">
            </div>
            <div class="details">
                <h2>Kshitij Rastogi<br><span><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"><i class="far fa-envelope"></i> </a></span></h2>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/abhinav.jpeg" alt="images">
            </div>
            <div class="details">
                <h2> Abhinav Gautam<br><span><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"><i class="far fa-envelope"></i> </a></span></h2>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="/img/ishan.jpeg" alt="images">
            </div>
            <div class="details">
                <h2>Ishan Chaudhary<br><span><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                    <a href="#"><i class="far fa-envelope"></i> </a></span></h2>
            </div>
        </div>

    </div>
    </div>
    <div class="hero-image-footer">
    </div>
</body>