<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>ISQIHE_mailer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <style>
        .header-blue {
            padding-bottom: 80px;
            font-family: 'Source Sans Pro', sans-serif;
            background: white;
        }

        @media (min-width:768px) {
            .header-blue {
                padding-bottom: 120px;
            }
        }

        .header-blue .navbar {
            background: 0 0;
            padding-top: .75rem;
            padding-bottom: .75rem;
            color: #fff;
            border-radius: 0;
            box-shadow: none;
            border: none;
        }

        .header-blue .navbar .navbar-brand {
            font-weight: 700;
            color: inherit;
        }

        .header-blue .navbar .navbar-brand:hover {
            color: #f0f0f0;
        }

        .header-blue .navbar .navbar-collapse {
            border-top: 1px solid rgba(255, 255, 255, .3);
            margin-top: .5rem;
        }

        @media (min-width:768px) {
            .header-blue .navbar {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            .header-blue .navbar .navbar-collapse {
                border-color: transparent;
                margin: 0;
            }

            .header-blue .navbar-nav .nav-link {
                padding-left: .7rem;
                padding-right: .7rem;
            }
        }

        .header-blue .navbar .navbar-collapse span .login {
            color: #d9d9d9;
            margin-right: .5rem;
            text-decoration: none;
        }

        .header-blue .navbar .navbar-collapse span .login:hover {
            color: #fff;
        }

        .header-blue .navbar .navbar-toggler {
            border-color: rgba(255, 255, 255, .3);
        }

        .header-blue .navbar .navbar-toggler:hover,
        .header-blue .navbar-toggler:focus {
            background: 0 0;
        }

        @media (min-width:992px) {
            .header-blue .navbar-nav .nav-link {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }

        .header-blue .navbar.navbar-light .navbar-nav .nav-link {
            color: #d9d9d9;
        }

        .header-blue .navbar.navbar-light .navbar-nav .nav-link:focus,
        .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
            color: #fcfeff !important;
            background-color: transparent;
        }

        .header-blue .navbar .navbar-nav>li>.dropdown-menu {
            margin-top: -5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
            background-color: #fff;
            border-radius: 2px;
        }

        .header-blue .navbar .dropdown-menu .dropdown-item,
        .header-blue .navbar .dropdown-menu .dropdown-item:focus {
            line-height: 2;
            color: #37434d;
        }

        .header-blue .navbar .dropdown-menu .dropdown-item:focus,
        .header-blue .navbar .dropdown-menu .dropdown-item:hover {
            background: #ebeff1;
        }

        .header-blue .action-button,
        .header-blue .action-button:not(.disabled):active {
            border: 1px solid rgba(255, 255, 255, .7);
            border-radius: 40px;
            color: #ebeff1;
            box-shadow: none;
            text-shadow: none;
            padding: .3rem .8rem;
            background: 0 0;
            transition: background-color .25s;
            outline: 0;
        }

        .header-blue .action-button:hover {
            color: #fff;
        }

        .header-blue .navbar .form-inline label {
            color: #d9d9d9;
        }

        .header-blue .navbar .form-inline .search-field {
            display: inline-block;
            width: 80%;
            background: 0 0;
            border: none;
            border-bottom: 1px solid transparent;
            border-radius: 0;
            box-shadow: none;
            color: inherit;
            transition: border-bottom-color .3s;
        }

        .header-blue .navbar .form-inline .search-field:focus {
            border-bottom: 1px solid #ccc;
        }

        .header-blue .hero {
            margin-top: 20px;
            text-align: center;
        }

        @media (min-width:768px) {
            .header-blue .hero {
                margin-top: 60px;
                text-align: left;
            }
        }

        .header-blue .hero h1 {
            color: #fff;
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 300;
            line-height: 1.4;
        }

        @media (min-width:992px) {
            .header-blue .hero h1 {
                margin-top: 190px;
                margin-bottom: 24px;
                line-height: 1.2;
            }
        }

        .header-blue .hero p {
            color: rgba(255, 255, 255, .8);
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 300;
        }

        .header-blue .phone-holder {
            text-align: right;
        }

        .header-blue div.iphone-mockup {
            position: relative;
            max-width: 300px;
            margin: 20px;
            display: inline-block;
        }

        .header-blue .iphone-mockup img.device {
            width: 100%;
            height: auto;
        }

        .header-blue .iphone-mockup .screen {
            position: absolute;
            width: 88%;
            height: 77%;
            top: 12%;
            border-radius: 2px;
            left: 6%;
            border: 1px solid #444;
            overflow: hidden;
            background: url(../../assets/img/screen-content-iphone-6.jpg) center;
            background-size: cover;
        }

        .header-blue .iphone-mockup .screen:before {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 70%;
            height: 140%;
            top: -12%;
            right: -60%;
            transform: rotate(-19deg);
            opacity: .2;
        }
    </style>
</head>

<body>
    <table border="0" style="margin: 0; padding: 0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="align-items:center; vertical-align:top">
                <div>
                    <div class="header-blue" style="padding-bottom: 30px;">
                        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                            <div class="container-fluid"></div>
                        </nav>
                        <div class="container hero" style="text-align: center;">
                            <div class="row">
                                <div class="col-12"><img style="width: 50%; height:200px; margin: auto;max-width:200px;"
                                        src="https://drive.google.com/uc?id=1pi0meQST2sfriYUafHR-Iy1ycwqXDXFk"></div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h1 style="color: rgb(88,88,88);margin-top: 80px;">Thank You For Regstering on Buyfresh</h1>
                                    <p style="color: rgb(88,88,88);">Please Click on the link below to verify your email.</p>
                                    <h3><a href="https://buyfreshdtu.xyz/users/verify/<%= data.token %>"
                                        target="_blank" style="color: rgb(125,125,125);" style="background-color: red;color: white;width: 200px; height: 200px;font-size: 5rem;">Click here to confirm your
                                        e-mail</a></h3> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>