.Backdrop {
    width: 200vw;
    height: 200vh;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.BackdropOpen {
    display: block;
}

.BackdropClosed {
    display: none;
}